.skills {
  flex: 1 1 50%;
}

.skills__title {
  border-bottom: 1px solid var(--color-title--skills);
}

.skills__inner {
  text-align: start;
}

.scale__title {
  text-align: center;
}

.scale__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.scale__container {
  background-color: gray;
  flex: 1 1 auto;
  position: relative;
}

.scale__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  color: var(--text-scale);
}

.scale__traning {
  position: absolute;
  height: 100%;
  background-color: var(--blue);
}

.scale__btn--prev::before {
  background-image: url(../img/icon/minus.png);
}

.scale__btn--next::before {
  background-image: url(../img/icon/plus.png);
}